.movie-banner-bg img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
}

.movie-banner .movie-title{
    margin: 15px 0;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.movie-banner_info-holder{
    display: flex;
    align-items: center;
}

.movie-banner_info-holder .movie-banner_info-rating{
    width: 32px;
    height: 32px;
}

.movie-banner_info-holder .movie-banner_info-rating img{
    width: 30px;
    height: 30px;
}

.movie-banner_info-holder .movie-banner_info-text{
    margin-left: 16px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.movie-banner_info-text {
    display: flex;
    align-items: center;
    color: white;
    font-size: 14px;
}

.movie-banner_info-text-group {
    margin-left: 32px;
    position: relative;
}

.movie-banner_info-text-group::before {
    content: "|"; 
    position: absolute;
    left: -16px; /* Half of margin-left to center the separator */
    color: white; /* Adjust color */
}

.movie-banner_info-text-group:first-child {
    margin-left: 0;
}

.movie-banner_info-text-group:first-child::before {
    content: none;
}

.movie-banner_info-cta{
    margin-top: 40px;
}

.movie-banner_info-cta .btn-info{
    background: black;
    color: white;
    margin: 0 5px 0;
    padding: 12px 32px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px 25px 8px 25px;
    transition: all 0.4s ease-in-out;
}

.movie-banner_info-cta .btn-info:hover{
    background: black;
    color: #ff1e1e;
    border: 2px solid #ff1e1e;
}

.movie-banner_card{
    margin: 20px 0 0;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
}

.movie-banner_info-synopsis .movie-banner_info-synopsis-header{
    margin: 24px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #8e8e8e;
    font-size: 16px;
}

.movie-banner_info-synopsis .movie-banner_info-synopsis-content{
    margin: 6px 0 0;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.movie-banner_info-more-holder{
    display: flex;
    gap: 40px;
}

.movie-banner_info-more-item{
    width: auto;
    min-width: 160px;
}

.movie-banner_info-more-item-header{
    margin: 32px 0 0;
    font-size: 16px;
    color: #8e8e8e;
    font-weight: bold;
}

.movie-banner_info-more-item-desc{
    margin: 6px 0 0;
    font-size: 16px;
    color: white;
}

.btn-trailer-modal {
    background: black;
    color: white;
    margin: 0 5px 0;
    padding: 12px 32px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px 25px 8px 25px;
    transition: all 0.4s ease-in-out;
}

.btn-trailer-modal:hover {
    background: black;
    color: #ff1e1e;
    border: 2px solid #ff1e1e;
}

.showtime-container .showtime-tabs{
    margin-top: 60px;
    margin-bottom: 30px;
}

.row-showtime-movies{
    margin-top: 15px;
}

.showtime-filter {
    margin: 0 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8e8e8e;
    font-weight: bold;
}

#region-select {
    position: relative;
    z-index: 9999;
}

#region-select option {
    position: relative;
    z-index: 9999;
}

.region-filter {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1000;
}

.region-filter label {
    margin-right: 8px;
    font-size: 16px;
}

/* Dropdown container */
.custom-dropdown {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;
    display: inline-block;
}

/* Selected Option */
.selected-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    color: white;
    text-transform: uppercase;
    padding: 0 5px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

/* Dropdown List */
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: black;
    color: white;
    text-transform: uppercase;
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto; /* Enable scrolling */
    border-radius: 0 0 0 10px;
}

/* Scrollable Options */
.dropdown-options li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-options li:hover {
    background: #5c5c5c;
}

/* Highlight active selection */
.dropdown-options .active {
    background: #ff1e1e;
    font-weight: bold;
}


.showtime-tab-title{
    color: #8e8e8e;
    font-weight: bold;
}

.showtime-container {
    padding: 10px;
    border-radius: 10px;
}

.accordion-item {
    background-color: transparent !important;
    color: white;
    border: none;
}

.accordion-header .accordion-button{
    font-weight: bold;
    background-color: transparent;
    color: white;
}

.accordion-button::after {
    content: "\f067";
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    background-image: none !important;
    transform: none !important;
    transition: none !important;
    border: none;
}

.accordion-button:not(.collapsed)::after {
    content: "\f068";
}

.showtime-card{
    display: block;
    text-decoration: none;
    background: #454545;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 8px 25px 8px 25px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}

.showtime-card:hover{
    background: #5c5c5c;
}

.showtime-card-line{
    border-top: 2px solid white;
}
